@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

@tailwind base;

@layer base {
  body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  }
}

@tailwind components;
@tailwind utilities;
